:host {
  position: relative;
  display: inline-block;
  button[mat-fab]{
    margin: 14px;
    transition: background 250ms linear;
    .icon-done {
      display: none;
    }
    &.is-done {
      .icon {
        display: none;
      }
      .icon-done {
        display: block;
      }
    }
    &.mat-done {
        background: green;
        color: #ffff;
    }
  }
  mat-progress-spinner {
    position: absolute;
    top: 0;
    left: 0;
    height: 84px;
    width: 84px;
    opacity: 0;
    transition: opacity 250ms linear;
    &.is-active {
      opacity: 1;
    }
  }
}

.material-icons.white000 { color: #ffffff; }
